.contact-container {
  margin-top: 40px;
  width: 100vw;
  background-color: #fff;
}

.contact-container a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.ContactForm2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ContactinputDiv {
  padding: 4px;
}
.ContactinputDiv input {
  width: 450px;
  height: 40px;
  border: 2px solid #0a3f22;
  background-color: #fff;
  color: black;
  font-size: 18px;
  border-radius: 8px;
}

.ContactinputDiv label {
  display: block;
  padding: 5px;
  /* margin-left: -12px; */
  font-size: 18px;
  font-weight: 500;
}
.msgBox input {
  height: 50px;
}

.ContactinputDiv span {
  color: red;
}
.contact-btn {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}
.contact-btn button {
  background: #0a3f22;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
}
@media (max-width: 800px) {
  .ContactForm2 {
    margin-top: 20px;
  }
  .contact-container a {
    font-size: 18px;
  }
  .ContactinputDiv input {
    width: 350px;
  }
  .ContactinputDiv label {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .ContactForm2 {
    margin-top: 50px;
  }
  .contact-container a {
    font-size: 16px;
  }
  .ContactinputDiv input {
    width: 280px;
    height: 35px;
  }
  .ContactinputDiv label {
    font-size: 14px;
  }
  .contact-btn button {
    padding: 5px;
    width: 80px;
    height: 40px;
    font-size: 14px;
  }
}
