.cash-form-container {
  background-color: #ffffff;
  height: 520px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 8px;
}
.form-head p {
  font-size: 17px;
  font-weight: 600;
}
.form-footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
