.TalkTOUs-container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TalkTOUs-container p {
  font-size: 20px;
  color: #0a3f22;
}
.object-image {
  padding: 10px;
}

.talkToUS-buttn {
  background-color: #0a3f22;
  color: #ffffff;
  padding: 10px;
  width: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (max-width: 800px) {
  .TalkTOUs-container p {
    font-size: 18px;
    text-align: center;
  }
  .TalkTOUs-container .object-image {
    width: 270px;
  }
}
@media (max-width: 500px) {
  .TalkTOUs-container {
    margin-bottom: 150px;
  }
  .TalkTOUs-container .object-image {
    width: 200px;
  }
  .talkToUS-buttn {
    width: 100px;
    font-size: 14px;
    height: 40px;
    padding: 0px;
  }
}
