.Payment_product_container {
  width: 100%;
}

.Payment_Product_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 50px;
  font-size: 21px;
  color: #0a3f22;
  font-weight: 500;
}
.Payment_Product_Link {
  background-color: #0a3f22;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 45px;
  margin-top: 10px;
}
.Payment_Product_Link a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.Payment_product_content {
  min-height: 550px;
  font-weight: 450;
  padding: 25px 60px;
  color: #fff;
  /* position: contain; */
}
@media (max-width: 1024px) {
  .Payment_Product_header {
    font-size: 18px;
  }
  .Payment_Product_Link {
    font-size: 18px;
  }
  .Payment_Product_Link img {
    height: 25px;
  }
  .Payment_product_content {
    font-weight: 450;
    padding: 15px 5px;
  }
}
.Payment_product-para {
  font-size: 20px;
}
.Payment_product_content .details {
  font-size: 18px;
  line-height: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .Payment_Product_header {
    font-size: 15px;
  }
  .Payment_Product_Link {
    width: 100px;
    height: 34px;
    margin-top: 0px;
    font-size: 16px;
  }
  .Payment_product-para {
    font-size: 14px;
  }
  .Payment_product_content .details {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
