.image {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.frontImage_para {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .image img {
    width: 270px;
  }
  .frontImage_para {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .image img {
    width: 200px;
  }
  .frontImage_para {
    font-size: 14px;
  }
}
