.API-container {
  height: 100vh;
  width: 100vw;
}

.API-link {
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
}
.API-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.APIleftSide {
  height: 360px;
  opacity: 0.8;
}
.OP {
  height: 360px;
  opacity: 1;
}
/* }
.leftSide img {
  height: 450px;
} */
.Api_centerSide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.subcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.api-getp {
  width: 800px;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
}
.apiP {
  width: 600px;
  font-size: 20px;
  font-weight: 500;
}

.api-center-image {
  height: 350px;
  width: 350px;
}
.OP1 {
  height: 450px;
  opacity: 1;
}
.APIrightside {
  opacity: 0.8;
  height: 450px;
}
.api_link {
  background-color: #0a3f22;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  padding: 2px;
}
.api_link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.Atho-center {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: start;
  flex-direction: column;
}

.ath-heading {
  margin-left: 35px;
  font-size: 23px;
  line-height: 1;
  color: #0a3f22;
}
.ath-heading h2 {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 500px;
  text-align: center;
  margin: auto;
}
.ath-table-heading {
}
@media (max-width: 1024px) {
  .API-link {
    font-size: 18px;
  }
  .APIleftSide img {
    height: 370px;
  }

  .APIrightside img {
    height: 390px;
  }
  .OP img {
    height: 370px;
  }

  .OP1 img {
    height: 390px;
  }
  .centerSide {
    width: 700px;
  }
  .api-getp {
    padding: 0px auto;
    width: 600px;
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .API-link {
    font-size: 16px;
  }
  .APIleftSide img {
    height: 330px;
  }
  .APIrightside img {
    height: 350px;
  }
  .OP img {
    height: 330px;
  }

  .OP1 img {
    height: 350px;
  }
  .apiP {
    width: auto;
    padding: 0px 10px;
    font-size: 16px;
  }
  .api-center-image {
    width: 280px;
  }
  .api-getp {
    width: 380px;
    font-size: 14px;
  }
  .ath-heading {
    font-size: 19px;
  }
  .ath-table {
    width: 350px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .API-link {
    font-size: 14px;
  }
  .api-image {
    width: 20px;
  }
  .apiP {
    font-size: 12px;
  }
  .api-center-image {
    height: 200px;
    width: 200px;
  }
  .APIleftSide img {
    height: 250px;
  }
  .APIrightside img {
    height: 280px;
  }
  .OP img {
    height: 250px;
  }

  .OP1 img {
    height: 280px;
  }
  .api_link {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .api-getp {
    width: 240px;
    font-size: 12px;
  }
  .ath-heading {
    font-size: 15px;
  }
  .ath-heading h2 {
    font-size: 16px;
  }
  .ath-table {
    width: 250px;
    font-size: 12px;
  }
}
