.recon-container {
  height: 100vh;
  width: 100vw;
}
.GC {
  background-color: #649176;
}
.recon-link {
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
}
.recon-sub {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.recon_leftside {
  height: 700px;
}

.recon_rightside {
  height: 650px;
}

.recon_rightside img {
  height: 450px;
}
