.sales-container {
  height: 100vh;
  width: 100vw;
}
.GC {
  background-color: #649176;
}
.Ledgers-link {
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
}
.sales-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftside img {
  height: 430px;
}
.rightside {
  height: 360px;
}
