.cash-form-container {
  background-color: #ffffff;
  height: 520px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 8px;
}
.FB {
  background-color: #ffffff;
  max-height: 520px;
  min-height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
}
.form-head p {
  font-size: 17px;
  font-weight: 600;
}
.form-footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.general-button {
  font-size: 19px;
  border-radius: 10px;
  width: 130px;
  height: 45px;
  background: #0a3f22;
  font-weight: 520;
  color: white;
  border: 0 none;
  cursor: pointer;
  padding: 12px 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-button {
  display: none;
}

.saved-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.saved-paragraph {
  font-size: 30px;
  font-weight: 700;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: center;
  justify-content: center;
}
.saved-conatiner p {
  font-size: 18px;
}
@media (max-width: 1024px) {
  .form-head p {
    font-size: 15px;
    font-weight: 600;
  }
  .cash-form-container {
    height: 410px;
    width: 330px;
    gap: 5px;
  }
  .general-button {
    width: 100px;
    height: 40px;
    padding: 5px 4px;
    margin: 0px;
    font-size: 16px;
  }
}
.FB {
  background-color: #ffffff;
  max-height: 520px;
  min-height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
}
.multiway-form-container {
  background-color: #ffffff;
  height: 520px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  border-radius: 8px;
}

.batch-form-container {
  background-color: #ffffff;
  height: 500px;
  width: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* gap: 10px; */
  border-radius: 8px;
}
.Batch-form-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .saved-conatiner img {
    width: 100px;
  }
  .saved-conatiner p {
    font-size: 16px;
  }
  .saved-paragraph {
    font-size: 24px;
  }
  .form-head p {
    font-size: 16px;
  }
}
.general-button {
  width: 90px;
  height: 20px;
  padding: 3px;
  margin: 0px;
  font-size: 16px;
}
@media (max-width: 500px) {
  .saved-conatiner img {
    width: 60px;
  }
  .saved-conatiner p {
    font-size: 14px;
  }
  .saved-paragraph {
    font-size: 18px;
  }
  .form-head p {
    font-size: 12px;
    font-weight: 600;
  }
  .cash-form-container {
    height: 320px;
    width: 250px;
    gap: 2px;
  }
  .general-button {
    width: 60px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
}
