.pricing-container {
  height: 100%;
}
.pricing1 {
  height: 35%;
  background-color: #9a9898;
  box-shadow: 5px 5px 5px #9a9898;
}
.pricing2 {
  height: 100%;
}
.subPricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0.5;
}
.subPrice {
  font-size: 20px;
  width: 800px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subPrice p {
  text-align: start;
  padding-left: 60px;
}
.pricing-explore {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0a3f22;
}
.pricing-explore a {
  font-size: 17px;
  text-align: center;
  color: #0a3f22;
  text-decoration: none;
  font-weight: 500;
}
.subpricing-para {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}
.subprcing-heading {
  font-size: 24px;
  opacity: 0.6;
}
@media (max-width: 800px) {
  .pricing1 .Ledgers-link {
    font-size: 18px;
    padding-left: 8px;
    padding-top: 8px;
  }
  .pricing1 img {
    width: 20px;
  }
  .subPricing h3 {
    font-size: 20px;
  }
  .subprcing-heading,
  .subpricing-para {
    font-size: 19px;
  }
  .subPricing {
    margin: 0px 10px;
  }

  /* .pricing2 .subPrice {
    justify-content: center;
    gap: 10px;
  } */
  .subPrice {
    width: 500px;
    font-size: 18px;
    justify-content: space-between;
    text-align: center;
  }
  .subPricing p {
    padding-left: 10px;
  }
  .pricing-explore {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .pricing1 .Ledgers-link {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .pricing1 img {
    width: 15px;
  }
  .subPricing h3 {
    font-size: 17px;
  }
  .subprcing-heading,
  .subpricing-para {
    font-size: 16px;
  }
  .subPricing {
    margin: 0px 5px;
  }

  .subPrice {
    width: 300px;
    font-size: 15px;
    justify-content: space-between;
  }
  .pricing-explore {
    font-size: 14px;
  }
  .subPrice img {
    width: 30px;
  }
}
