.payment-container {
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.payment-container a {
  font-size: 22px;
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.payment-container img {
  padding: 0 6px;
}
.payment-container h4 {
  color: #0a3f22;
  font-size: 30px;
  font-weight: 500;
  margin: 20px auto;
}
.payment-container .payment-para {
  font-size: 22px;
  font-weight: 500;
}
.payment-cards {
  position: relative;
  background-color: #ece3c4;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 330px;
}
@media (max-width: 500px) {
  .payment-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
