.main {
  margin-top: -70px;
  height: 500px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.exploreBtn {
  background-color: #0f3a22;
  width: 163px;
  font-size: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 8px;
  border: 1px solid #0f3a22;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}

.main p {
  font-size: 18px;
  font-weight: bold;
}
.main div {
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .main p {
    font-size: 14px;
    text-align: center;
  }
  .main div {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .exploreBtn {
    width: 140px;
    font-size: 16px;
    padding: 10px;
    color: #fff;
  }
  .main img {
    width: 20px;
  }
}
